[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git://github.com/bling/vim-airline
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/deoplete"]
	path = bundle/deoplete
	url = https://github.com/Shougo/deoplete.nvim
[submodule "bundle/deoplete-jedi"]
	path = bundle/deoplete-jedi
	url = https://github.com/zchee/deoplete-jedi
[submodule "bundle/yats.vim"]
	path = bundle/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim
[submodule "bundle/nvim-typescript"]
	path = bundle/nvim-typescript
	url = https://github.com/mhartington/nvim-typescript
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
